# packages in environment at /home/tguethle/.opt/conda/envs/spi39:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                 conda_forge    conda-forge
_openmp_mutex             4.5                       2_gnu    conda-forge
algopy                    0.5.7                    pypi_0    pypi
antlr4-python3-runtime    4.9.3                    pypi_0    pypi
argon2-cffi               21.3.0                   pypi_0    pypi
argon2-cffi-bindings      21.2.0                   pypi_0    pypi
arviz                     0.14.0                   pypi_0    pypi
asciitree                 0.3.3                    pypi_0    pypi
astromodels               2.3.9                    pypi_0    pypi
astropy                   5.3.4                    pypi_0    pypi
astroquery                0.4.7                    pypi_0    pypi
asttokens                 2.0.8                    pypi_0    pypi
attrs                     21.4.0                   pypi_0    pypi
backcall                  0.2.0                    pypi_0    pypi
beautifulsoup4            4.11.2                   pypi_0    pypi
bleach                    5.0.1                    pypi_0    pypi
bzip2                     1.0.8                hd590300_5    conda-forge
ca-certificates           2024.2.2             hbcca054_0    conda-forge
certifi                   2022.5.18.1              pypi_0    pypi
cffi                      1.15.1                   pypi_0    pypi
cftime                    1.6.3                    pypi_0    pypi
chainconsumer             0.33.0                   pypi_0    pypi
charset-normalizer        2.0.12                   pypi_0    pypi
colorama                  0.4.6                    pypi_0    pypi
configya                  1.1.0                    pypi_0    pypi
contourpy                 1.0.7                    pypi_0    pypi
corner                    2.2.2                    pypi_0    pypi
coverage                  6.4.4                    pypi_0    pypi
cryptography              37.0.4                   pypi_0    pypi
cycler                    0.11.0                   pypi_0    pypi
data                      0.4                      pypi_0    pypi
debugpy                   1.6.7.post1              pypi_0    pypi
decorator                 5.1.1                    pypi_0    pypi
defusedxml                0.7.1                    pypi_0    pypi
dill                      0.3.5.1                  pypi_0    pypi
dynesty                   1.2.3                    pypi_0    pypi
emcee                     3.1.4                    pypi_0    pypi
entrypoints               0.4                      pypi_0    pypi
executing                 0.8.3                    pypi_0    pypi
extension-helpers         1.0.0                    pypi_0    pypi
fastjsonschema            2.15.3                   pypi_0    pypi
fonttools                 4.33.3                   pypi_0    pypi
funcsigs                  1.0.2                    pypi_0    pypi
future                    0.18.3                   pypi_0    pypi
h5py                      3.7.0                    pypi_0    pypi
html5lib                  1.1                      pypi_0    pypi
idna                      3.6                      pypi_0    pypi
iminuit                   2.11.2                   pypi_0    pypi
importlib-metadata        4.11.4                   pypi_0    pypi
iniconfig                 1.1.1                    pypi_0    pypi
interpolation             2.2.3                    pypi_0    pypi
ipykernel                 6.13.1                   pypi_0    pypi
ipyparallel               8.3.0                    pypi_0    pypi
ipython                   8.4.0                    pypi_0    pypi
ipython-genutils          0.2.0                    pypi_0    pypi
ipywidgets                7.7.5                    pypi_0    pypi
jedi                      0.18.2                   pypi_0    pypi
jeepney                   0.8.0                    pypi_0    pypi
jinja2                    3.1.3                    pypi_0    pypi
jsonschema                4.6.2                    pypi_0    pypi
jupyter-client            7.3.5                    pypi_0    pypi
jupyter-core              4.10.0                   pypi_0    pypi
jupyterlab-pygments       0.2.2                    pypi_0    pypi
jupyterlab-widgets        1.1.7                    pypi_0    pypi
keyring                   23.5.1                   pypi_0    pypi
kiwisolver                1.4.5                    pypi_0    pypi
latex                     0.7.0                    pypi_0    pypi
ld_impl_linux-64          2.40                 h41732ed_0    conda-forge
libffi                    3.4.2                h7f98852_5    conda-forge
libgcc-ng                 13.2.0               h807b86a_5    conda-forge
libgomp                   13.2.0               h807b86a_5    conda-forge
libnsl                    2.0.1                hd590300_0    conda-forge
libsqlite                 3.45.2               h2797004_0    conda-forge
libuuid                   2.38.1               h0b41bf4_0    conda-forge
libxcrypt                 4.4.36               hd590300_1    conda-forge
libzlib                   1.2.13               hd590300_5    conda-forge
llvmlite                  0.38.1                   pypi_0    pypi
lxml                      5.1.0                    pypi_0    pypi
markdown-it-py            2.2.0                    pypi_0    pypi
markupsafe                2.1.5                    pypi_0    pypi
matplotlib                3.6.3                    pypi_0    pypi
matplotlib-inline         0.1.6                    pypi_0    pypi
mdurl                     0.1.2                    pypi_0    pypi
mistune                   0.8.4                    pypi_0    pypi
mpi4py                    3.1.5                    pypi_0    pypi
nbclient                  0.6.8                    pypi_0    pypi
nbconvert                 6.5.4                    pypi_0    pypi
nbformat                  5.4.0                    pypi_0    pypi
ncurses                   6.4.20240210         h59595ed_0    conda-forge
nest-asyncio              1.5.9                    pypi_0    pypi
nested-diff               0.16                     pypi_0    pypi
netcdf4                   1.6.5                    pypi_0    pypi
notebook                  6.4.13                   pypi_0    pypi
numba                     0.55.2                   pypi_0    pypi
numdifftools              0.9.41                   pypi_0    pypi
numexpr                   2.8.8                    pypi_0    pypi
numpy                     1.21.6                   pypi_0    pypi
omegaconf                 2.2.3                    pypi_0    pypi
openssl                   3.2.1                hd590300_1    conda-forge
packaging                 21.3                     pypi_0    pypi
pandas                    1.5.3                    pypi_0    pypi
pandocfilters             1.5.1                    pypi_0    pypi
parso                     0.8.3                    pypi_0    pypi
patsy                     0.5.6                    pypi_0    pypi
pexpect                   4.8.0                    pypi_0    pypi
pickleshare               0.7.5                    pypi_0    pypi
pillow                    10.0.1                   pypi_0    pypi
pip                       24.0               pyhd8ed1ab_0    conda-forge
pluggy                    1.0.0                    pypi_0    pypi
progressbar               2.5                      pypi_0    pypi
prometheus-client         0.14.1                   pypi_0    pypi
prompt-toolkit            3.0.43                   pypi_0    pypi
psutil                    5.9.8                    pypi_0    pypi
ptyprocess                0.7.0                    pypi_0    pypi
pure-eval                 0.2.2                    pypi_0    pypi
py                        1.11.0                   pypi_0    pypi
py-spi                    1.0.0                    pypi_0    pypi
pycparser                 2.21                     pypi_0    pypi
pyerfa                    2.0.0.3                  pypi_0    pypi
pygments                  2.12.0                   pypi_0    pypi
pymultinest               2.12                     pypi_0    pypi
pyparsing                 3.0.9                    pypi_0    pypi
pyrsistent                0.18.1                   pypi_0    pypi
pytest                    7.1.3                    pypi_0    pypi
pytest-astropy-header     0.2.2                    pypi_0    pypi
pytest-cov                3.0.0                    pypi_0    pypi
python                    3.9.18          h0755675_1_cpython    conda-forge
python-dateutil           2.8.2                    pypi_0    pypi
pytz                      2022.7.1                 pypi_0    pypi
pyvo                      1.5.1                    pypi_0    pypi
pyyaml                    6.0.1                    pypi_0    pypi
pyzmq                     23.1.0                   pypi_0    pypi
readline                  8.2                  h8228510_1    conda-forge
requests                  2.27.1                   pypi_0    pypi
rich                      13.2.0                   pypi_0    pypi
scipy                     1.8.1                    pypi_0    pypi
secretstorage             3.3.3                    pypi_0    pypi
send2trash                1.8.2                    pypi_0    pypi
setuptools                69.2.0             pyhd8ed1ab_0    conda-forge
shutilwhich               1.1.0                    pypi_0    pypi
six                       1.16.0                   pypi_0    pypi
soupsieve                 2.3.2.post1              pypi_0    pypi
speclite                  0.18                     pypi_0    pypi
stack-data                0.2.0                    pypi_0    pypi
statsmodels               0.13.5                   pypi_0    pypi
tables                    3.7.0                    pypi_0    pypi
tempdir                   0.7.1                    pypi_0    pypi
tempita                   0.5.2                    pypi_0    pypi
terminado                 0.15.0                   pypi_0    pypi
threeml                   2.3.2                    pypi_0    pypi
tinycss2                  1.1.1                    pypi_0    pypi
tk                        8.6.13          noxft_h4845f30_101    conda-forge
tomli                     2.0.1                    pypi_0    pypi
tornado                   6.4                      pypi_0    pypi
tqdm                      4.64.1                   pypi_0    pypi
traitlets                 5.2.2.post1              pypi_0    pypi
typing-extensions         4.4.0                    pypi_0    pypi
tzdata                    2024a                h0c530f3_0    conda-forge
uncertainties             3.1.7                    pypi_0    pypi
urllib3                   1.26.18                  pypi_0    pypi
wcwidth                   0.2.13                   pypi_0    pypi
webencodings              0.5.1                    pypi_0    pypi
wheel                     0.42.0             pyhd8ed1ab_0    conda-forge
widgetsnbextension        3.6.6                    pypi_0    pypi
xarray                    2023.1.0                 pypi_0    pypi
xarray-einstats           0.5.1                    pypi_0    pypi
xz                        5.2.6                h166bdaf_0    conda-forge
zipp                      3.8.1                    pypi_0    pypi
